# ignore Python artifacts
__pycache__/
*.py[cod]

# configurations
*.yaml
*.json

# data/checkpoints
# ignore all data folders by default; keep sample data_example
data/
!data_example/
ckpt/
# ignore results directory; keep sample results_example
results/
!results_example/

# OS
.DS_Store
